<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			<%=title-%>
		</title>
		<link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
		<style type="text/css">
			.search {
				position: fixed;
				right: 0;
				top: 20px;
				z-index: 100;
			}
		</style>
	</head>

	<body>
		<div class="container-fluid" diew="代云舟" email="1254473705@qq.com">
			<div class="form-inline search">
				<div class="form-group col-md-12">
					<!--<label for="disabledSelect" class="col-md-2">搜索框</label>-->
					<input type="text" class="form-control col-md-6 searchText" placeholder="Text input">
					<button type="button" class="btn btn-default searchBtn">搜索</button>
					<button type="button" class="btn btn-default more ">更多</button>
					<button type="button" class="btn btn-default local ">本地</button>
					<input type="text" class="form-control col-md-6 showSource" disabled="disabled">
				</div>
			</div>
			<ul class="img row list-group">

			</ul>

		</div>
	</body>
	<script src="/utils/jquery-1.10.1.min.js"></script>
	<script src="/javascripts/index.min.js"></script>
	
</html>